language: python
python:
  - "2.7"
  - "3.3"
  - "pypy"
install: "pip install -r requirements.txt"
before_script: python setup.py develop
script: mamba
after_success: 'coverage report --include="mamba/*","spec/*"'
