[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

expects = ">=0.8.0"
doublex-expects = ">=0.7.0rc2"
mock = ">=2.0.0"
"e1839a8" = {path = ".", editable = true}


[packages]

clint = ">=0.5.1"
coverage = ">=4.4.1"
"e1839a8" = {path = ".", editable = true}


[requires]

python_version = "2.7"
